extends layout.jade

block content
  div(ng-controller="loginController")

    //- Login View
    .container-fluid(ng-cloak ng-hide="loggedIn")

      //- Header Bar w/o Menu
      nav.navbar.navbar-dark.bg-dark.fixed-top
        .app-header
          i.fas.fa-users.mr-3
          span HRIS

      include modules/login.jade

    //- Logged In View
    div(ng-cloak ng-show="loggedIn")

      //- Header Bar w/ Menu
      nav.navbar.navbar-dark.bg-dark.fixed-top(ng-controller="navController")

        .app-header
          i.fas.fa-users.mr-3
          span HRIS

        //- Toggle button for navigation menu
        button.navbar-toggler(data-target="#navbarToggler" data-toggle="collapse" type="button" aria-label="Toggle navigation")
          span.navbar-toggler-icon

        //- Navigation menu
        .collapse.navbar-collapse.mt-2(id="navbarToggler")
          ul.nav.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.text-white.mb-1 USER
            li.nav-item.pl-3
              a.nav-link.active(id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab")
                i.fa.fa-user
                span Profile
            li.nav-item.pl-3
              a.nav-link(id="nav-timeClock-tab" data-toggle="tab" href="#nav-timeClock" role="tab" ng-hide="employee.status === 'TEMPORARY'")
                i.fas.fa-clock
                span Time Clock
            li.nav-item.pl-3
              a.nav-link(id="nav-timesheets-tab" data-toggle="tab" href="#nav-timesheets" role="tab" ng-hide="employee.status === 'TEMPORARY'")
                i.fas.fa-calendar-alt
                span Timesheets
            li.nav-item.pl-3
              a.nav-link(id="nav-forms-tab" data-toggle="tab" href="#nav-forms" role="tab")
                i.fab.fa-wpforms
                span Forms

            li.text-white.mt-4.mb-1(ng-hide="employee.title === 'employee' || employee.status === 'TEMPORARY'") ADMIN
            li.nav-item.pl-3(ng-hide="employee.title === 'employee' || employee.status === 'TEMPORARY'")
              a.nav-link(id="nav-employees-tab" data-toggle="tab" href="#nav-employees" role="tab")
                i.fa.fa-users
                span Employees
            li.nav-item.pl-3(ng-hide="employee.title === 'employee' || employee.status === 'TEMPORARY'")
              a.nav-link(id="nav-reports-tab" data-toggle="tab" href="#nav-reports" role="tab")
                i.fa.fa-chart-line
                span Reports
            li.nav-item.cursor-pointer.mt-4
              a.nav-link(id="nav-manual-tab" data-toggle="tab" href="#nav-manual" role="tab")
                i.fa.fa-question
                span Help
            li.nav-item.cursor-pointer
              a.nav-link(ng-click="onLogout()")
                i.fa.fa-lock
                span Logout

      //- Main View
      .tab-content.mt-3(id="main-content")
        include modules/profile.jade
        include modules/timeClock.jade
        include modules/timesheets.jade
        include modules/forms.jade
        include modules/employees.jade
        include modules/reports.jade
        include modules/manual.jade