doctype html
html(ng-app='hris')
  head
    title HRIS v1.0
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="icon" type="image/png" href="images/favicon.ico")
    link(href='stylesheets/font-awesome/fontawesome-all.min.css' rel='stylesheet')
    link(href='stylesheets/style.css' rel='stylesheet')
    link(href='stylesheets/bootstrap.min.css' rel='stylesheet')
  body.container-fluid
    //- Moment.js
    script(src="vendors/moment.min.js")

    block content

    //- AngularJS
    script(src='vendors/angularjs/angular.min.js')
    script(src="vendors/angularjs/angular-cookies.js")
    script(src="vendors/angularjs/angular-sanitize.js")

    //- JQuery
    script(src='vendors/jquery-3.3.1.min.js')
    script(src='vendors/popper.min.js')

    //- Bootstrap
    script(src='vendors/bootstrap.min.js')

    //- Fusion Charts
    script(src="node_modules/fusioncharts/fusioncharts.js")
    script(src="node_modules/fusioncharts/fusioncharts.charts.js")

    //- Application
    script(src="app.min.js")