form.col-md
  .form-row
    .form-group.col-md
      label Company
      input.form-control(type="text" ng-model="form.formData.company")
  .form-row
    .form-group.col-md
      label Title
      input.form-control(type="text" ng-model="form.formData.title")
  .form-row
    .form-group.col-md
      label Start Month
      input.form-control(type="text" ng-model="form.formData.startMonth")
    .form-group.col-md
      label Start Year
      input.form-control(type="text" ng-model="form.formData.startYear")
  .form-row
    .form-group.col-md
      label End Month
      input.form-control(type="text" ng-model="form.formData.endMonth")
    .form-group.col-md
      label End Year
      input.form-control(type="text" ng-model="form.formData.endYear")