button.btn.btn-danger.col-md.mb-3(ng-click="onCancelBtnClick()" ng-show="confirmSubmit") Cancel
button.btn.col-md(ng-class="confirmSubmit ? 'btn-success' : 'btn-secondary'" ng-click="onSubmitBtnClick()") {{submitBtnText}}