body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

html, body
  max-width: 100%;
  overflow-x: hidden;

.login-form button i.fa, button i.far, button i.fas,
nav a i.fa, a i.far, a i.fas, a i.fab
  width: 1.5em;
  text-align: left;

a
  color: #00B7FF

a.clickable
  cursor: pointer;

.justify-space-between
  justify-content: space-between !important;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important;

.employee-table tr
  cursor: pointer;

.form-control-plaintext
  border-bottom: 1px solid #ced4da !important;
  padding: .375rem calc(.75rem + 1px) !important;
  color: #495057 !important;
  cursor: default;

.cursor-pointer
  cursor: pointer;

#username
  text-transform: lowercase;

.app-header
  flex: 1;
  color: white;
  font-size: 1.75rem;

.form-control.field-readonly:disabled
  background-color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  height: 39px !important;
  border-radius: 0;

.form-control-plaintext[readonly]
  border-radius: 0;