.tab-pane.fade(id="nav-employees" ng-controller="employeesController" role="tabpanel")

  //- ---------------------------------------------------------------------
  //- Employees Grid
  //- ---------------------------------------------------------------------
  div(ng-show="view === 'grid'")
    h4.pb-2.pt-2.text-center Employees
    .table-responsive
      table.table.table-hover.table-striped
        thead
          tr
            th(scope="col") #
            th(scope="col") First
            th(scope="col") Last
            th(scope="col") Title
            th(scope="col") Status
            th(scope="col") Gender
            th(scope="col" style="min-width: 8rem;") DOB
        tbody
          tr(data-employeeId="{{employee.employeeId}}" ng-click="viewProfile($event)" ng-repeat="employee in employees")
            th(scope="row") {{employee.employeeId}}
            td {{employee.firstName}}
            td {{employee.lastName}}
            td {{employee.title}}
            td {{employee.status}}
            td {{employee.gender}}
            td {{formatDate(employee.dateOfBirth)}}
    button.btn.btn-primary.col-md.fixed-bottom(ng-click="onNewEmployeeBtnClick()" type="button" style="border-radius: 0;") Add New Employee

  div(ng-show="view === 'profile'")
    //- ---------------------------------------------------------------------
    //- Tabs
    //- ---------------------------------------------------------------------
    ul.nav.nav-tabs.mb-3
      li.nav-item
        a.nav-link.active(id="profile-tab" data-toggle="tab" href="#profile" role="tab") Profile
      li.nav-item
        a.nav-link(id="forms-tab" data-toggle="tab" href="#forms" role="tab") Forms
      li.nav-item
        a.nav-link(id="timesheets-tab" data-toggle="tab" href="#timesheets" role="tab") Timesheets

    #employee-details.tab-content
      //- ---------------------------------------------------------------------
      //- Profile Tab
      //- ---------------------------------------------------------------------
      #profile.tab-pane.show.active(role="tabpanel")
        .col-md.text-right(ng-show="employee.employeeId")
          a.fa.fa-edit.mr-1(href="#" data-toggle="modal" data-target="#employeeStatusModal" ng-hide="employee.status === 'TERMINATED'")
          span Status:
          span.pl-1(ng-class="profile.getStatusColorCls()") {{employee.status}}

        #employeeStatusModal.modal.fade(tabindex='-1' role='dialog')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#employeeStatusModalLabel.modal-title Edit Status
                button.close(type='button' data-dismiss='modal')
                  span ×
              .modal-body
                button.btn.btn-success.col-md.mb-1(ng-hide="employee.status === 'ACTIVE'" ng-click="onSetActiveStatus()") Set to ACTIVE
                button.btn.btn-danger.col-md.mt-1(ng-click="onSetTerminatedStatus()") Set to TERMINATED
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close

        form.col-md
          h5 General
          div
            .form-row
              .form-group.col-md
                label First Name
                  span.text-danger *
                input.form-control(ng-model="employee.firstName" type="text")
              .form-group.col-md
                label Last Name
                  span.text-danger *
                input.form-control(ng-model="employee.lastName" type="text")
            .form-row
              .form-group.col-md
                label Date of Birth
                  span.text-danger *
                input.form-control(ng-model="employee.dateOfBirth" type="date")
              .form-group.col-md
                label Gender
                  span.text-danger *
                select.form-control(ng-model="employee.gender")
                  option(value="M") Male
                  option(value="F") Female
                  option(value="O") Other
            .form-row
              .form-group.col-md
                label Address
                input.form-control(ng-model="employee.employeeAddress.address" type="text")
            .form-row
              .form-group.col-md
                label City
                input.form-control(ng-model="employee.employeeAddress.city" type="text")
              .form-group.col-md
                label State
                select.form-control(name="state" ng-model="employee.employeeAddress.state")
                  option(value="" selected="selected") Select a State
                  option(value="AL") Alabama
                  option(value="AK") Alaska
                  option(value="AZ") Arizona
                  option(value="AR") Arkansas
                  option(value="CA") California
                  option(value="CO") Colorado
                  option(value="CT") Connecticut
                  option(value="DE") Delaware
                  option(value="DC") District Of Columbia
                  option(value="FL") Florida
                  option(value="GA") Georgia
                  option(value="HI") Hawaii
                  option(value="ID") Idaho
                  option(value="IL") Illinois
                  option(value="IN") Indiana
                  option(value="IA") Iowa
                  option(value="KS") Kansas
                  option(value="KY") Kentucky
                  option(value="LA") Louisiana
                  option(value="ME") Maine
                  option(value="MD") Maryland
                  option(value="MA") Massachusetts
                  option(value="MI") Michigan
                  option(value="MN") Minnesota
                  option(value="MS") Mississippi
                  option(value="MO") Missouri
                  option(value="MT") Montana
                  option(value="NE") Nebraska
                  option(value="NV") Nevada
                  option(value="NH") New Hampshire
                  option(value="NJ") New Jersey
                  option(value="NM") New Mexico
                  option(value="NY") New York
                  option(value="NC") North Carolina
                  option(value="ND") North Dakota
                  option(value="OH") Ohio
                  option(value="OK") Oklahoma
                  option(value="OR") Oregon
                  option(value="PA") Pennsylvania
                  option(value="RI") Rhode Island
                  option(value="SC") South Carolina
                  option(value="SD") South Dakota
                  option(value="TN") Tennessee
                  option(value="TX") Texas
                  option(value="UT") Utah
                  option(value="VT") Vermont
                  option(value="VA") Virginia
                  option(value="WA") Washington
                  option(value="WV") West Virginia
                  option(value="WI") Wisconsin
                  option(value="WY") Wyoming
              .form-group.col-md
                label Zipcode
                input.form-control(ng-model="employee.employeeAddress.zipcode" type="text")
            .form-row
              .form-group.col-md
                label Phone Number
                input.form-control(ng-model="employee.phoneNumber" type="text")
          div.pb-2
            h5.pt-4 Employment Information
            .form-row
              .form-group.col-md
                label Title
                  span.text-danger *
                select.form-control(ng-model="employee.title")
                  option(selected) Employee
                  option Manager
                  option HR User
            .form-row
              .form-group.col-md
                label Pay Rate ($/hour)
                  span.text-danger *
                input.form-control(ng-model="employee.payRate" type="number")
            .form-row(ng-show="employee.title === 'Employee'")
              .form-group.col-md
                label Manager
                select.form-control(ng-model="employee.managerId")
                  option(ng-if="e.status === 'ACTIVE' && e.title === 'Manager'" ng-repeat="e in employees" value="{{e.employeeId}}") {{e.firstName}} {{e.lastName}}

          .text-primary(ng-click="showAccountFields=false" ng-show="showAccountFields && employee.account" style="cursor: pointer;") (-) Hide Account Form

          div(ng-show="showAccountFields")
            h5.pt-2 Account Information
            .form-group
              label Enter Username (at least 5 characters):
              input.form-control(ng-blur="profile.checkUsername()" ng-model="account.username" type="text" autocomplete="off")
              sub(ng-class="isUniqueUsername ? 'text-success' : 'text-danger'") {{isUniqueUsername ? 'Username is available' : 'Invalid username'}}
            .form-group
              label Enter Password:
              input.form-control(ng-change="profile.onPasswordChange()" ng-model="account.password" type="password" autocomplete="off")
            div Password Rules:
              .rules
                sub(ng-class="isMinLength ? 'text-success' : 'text-danger'")
                  i.pr-2(ng-class="isMinLength ? 'fa fa-check' : 'fa fa-times'")
                  span Must be at least 8 characters long
                br
                sub(ng-class="hasLowercase ? 'text-success' : 'text-danger'")
                  i.pr-2(ng-class="hasLowercase ? 'fa fa-check' : 'fa fa-times'")
                  span Must contain at least one lowercase letter (a-z)
                br
                sub(ng-class="hasUppercase ? 'text-success' : 'text-danger'")
                  i.pr-2(ng-class="hasUppercase ? 'fa fa-check' : 'fa fa-times'")
                  span Must contain at least one uppercase letter (A-Z)
                br
                sub(ng-class="hasDigit ? 'text-success' : 'text-danger'")
                  i.pr-2(ng-class="hasDigit ? 'fa fa-check' : 'fa fa-times'")
                  span Must contain at least one number (0-9)
                br
                sub(ng-class="hasSymbol ? 'text-success' : 'text-danger'")
                  i.pr-2(ng-class="hasSymbol ? 'fa fa-check' : 'fa fa-times'")
                  span Must contain at least one symbol (!@#$%^&amp;*()_+=-)
                br
            .form-group.mt-3
              label Reenter Password:
              input.form-control(ng-change="profile.onPasswordChange()" ng-model="account.passwordRepeat" type="password" autocomplete="off")
              sub.text-danger(ng-hide="passwordMatch") Passwords do not match
              sub.text-success(ng-show="passwordMatch") Passwords match

          //- .btn-toolbar.justify-space-between(role="toolbar")
          .text-primary(ng-click="showAccountFields=true" ng-hide="showAccountFields" style="cursor: pointer;") (+) Show Account Form
          button.btn.btn-secondary.col-md.mt-5.mb-2(ng-click="profile.onSaveBtnClick()") Save Changes

        button.btn.btn-primary.col-md.fixed-bottom(ng-click="onBackBtnClick()" style="border-radius: 0;") Back

      //- ---------------------------------------------------------------------
      //- Forms Tab
      //- ---------------------------------------------------------------------
      #forms.tab-pane(role="tabpanel")
        div(ng-show="formView === 'grid'")
          //- .dropdown
          //-   button.btn.btn-success.dropdown-toggle.col-md.mb-3(data-toggle="dropdown")
          //-     span.pr-1 Add Form
          //-   .dropdown-menu.col-md
          //-     .dropdown-item.btn-secondary(href="#" ng-click="addForm()" data-formName="EMPLOYMENT_HISTORY" data-formDisplay="Employment History") Employment History
          .table-responsive
            table.table.table-striped.table-hover
              thead
                tr
                  th(scope="col") Form
                  th(scope="col") Added
                  th(scope="col") Status
              tbody
                tr(data-formId="{{form.formId}}" ng-click="viewForm($event)" ng-repeat="form in forms")
                  td(scope="row") {{form.formDisplay}}
                  td(scope="row") {{formatDate(form.createDatetime)}}
                  td(scope="row") {{form.status}}

          button.btn.btn-primary.col-md.fixed-bottom(ng-click="onBackBtnClick()" style="border-radius: 0;") Back

        div(ng-show="formView === 'form'")
          h4.pt-2.pb-2.text-center {{form.formDisplay}}

          div(ng-show="form.formName === 'EMPLOYMENT_HISTORY'")
            include ./forms/employmentHistory.jade

          div.row.fixed-bottom
            button.btn.btn-secondary.col-md(ng-click="onFormCancelBtnClick()" style="border-radius: 0; width: 50%;") Back
            button.btn.btn-primary.col-md(ng-click="onFormSubmitBtnClick()" style="border-radius: 0; width: 50%;") Submit

      //- ---------------------------------------------------------------------
      //- Timesheets Tab
      //- ---------------------------------------------------------------------
      #timesheets.tab-pane(role="tabpanel")
        div(ng-show="timesheetView === 'timesheets'")
          .table-responsive
            table.table.table-hover.table-striped
              thead
                tr.font-weight-bold.border-bottom
                  th(scope="col") Start
                  th(scope="col") End
                  th(scope="col") Hours
                  th(scope="col") Status
                  th(scope="col") Amount Paid
              tbody
                tr(data-timesheetId="{{timesheet.timesheetId}}" ng-repeat="timesheet in timesheets" ng-click="onTimesheetClick($event)")
                  td(scope="row") {{renderDate(timesheet.startDate)}}
                  td {{renderDate(timesheet.endDate)}}
                  td {{renderHours(timesheet.hours)}}
                  td {{timesheet.status}}
                  td {{renderAmount(timesheet.amountPaid)}}

          button.btn.btn-primary.col-md.fixed-bottom(ng-click="onBackBtnClick()" style="border-radius: 0;") Back

        div(ng-show="timesheetView === 'timesheetValues'")
          h4.pt-2.pb-2.text-center Timesheet Details
          button.btn.btn-success.col-md.mb-2(ng-click="onPayTimesheet()" ng-disabled="timesheet.status === 'PAID'") {{timesheet.status === 'ACTIVE' ? 'Pay' : 'Paid'}}
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th(scope="col") Date
                  th(scope="col") In
                  th(scope="col") Out
                  th(scope="col") Hours
              tbody
                tr(data-timesheetValueId="{{timesheetValue.timesheetValueId}}" ng-repeat="timesheetValue in timesheetValues | orderBy:'createDatetime'")
                  td(scope="row") {{renderDate(timesheetValue.timesheetDate)}}
                  td {{renderTime(timesheetValue.timeIn)}}
                  td {{renderTime(timesheetValue.timeOut)}}
                  td {{renderHours(timesheetValue.hours)}}

          button.btn.btn-primary.col-md.fixed-bottom(ng-click="onTimesheetBackBtnClick()" style="border-radius: 0;") Back