.tab-pane.fade(id="nav-forms" ng-controller="formsController" role="tabpanel" aria-labelledby="nav-forms-tab")
  div(ng-show="view === 'grid'")
    h4.pt-2.pb-2.text-center Forms
    .table-responsive
      table.table.table-striped.table-hover
        thead
          tr
            th(scope="col") Form Name
            th(scope="col") Added
            th(scope="col") Status
        tbody
          tr(data-formId="{{form.formId}}" ng-click="viewForm($event)" ng-repeat="form in forms")
            td(scope="row") {{form.formDisplay}}
            td(scope="row") {{formatDate(form.createDatetime)}}
            td(scope="row") {{form.status}}

  div(ng-show="view === 'form'")
    h4.pt-2.pb-2.text-center {{form.formDisplay}}

    div(ng-show="form.formName === 'EMPLOYMENT_HISTORY'")
      include ./forms/employmentHistory.jade

    div.row.fixed-bottom
      button.btn.btn-secondary.col-md(ng-click="onFormCancelBtnClick()" style="border-radius: 0; width: 50%;") Back
      button.btn.btn-primary.col-md(ng-click="onFormSubmitBtnClick()" style="border-radius: 0; width: 50%;") Submit