.mt-4.login-form

  //- Active Session Check Notification
  p(ng-hide="existingSessionChecked") Checking for an existing session...

  //- Login Form
  form.mt-4(ng-cloak ng-show="existingSessionChecked" ng-submit="onLogin()")

    //- Username
    .form-group
      input.form-control(id="username" ng-model="username" type="text" placeholder="Username" autocomplete="off" ng-disabled="loggingIn")

    //- Password
    .form-group
      input.form-control(id="password" ng-model="password" type="password" placeholder="Password" autocomplete="off" ng-disabled="loggingIn")

    //- Login Button
    button.btn.btn-primary.col-md(type="submit" ng-disabled="loggingIn")
      i.fa.fa-unlock
      span Login

    //- Error Message
    .text-danger.mt-2 {{loginError}}