style.
  h5, h6 { margin: 0; }
  section, #body > div { padding-bottom: 25px; }
  .level-1 { padding-left: 20px; }
  .level-2 { padding-left: 40px; }
  .level-3 { padding-left: 60px; }

.tab-pane.fade(id="nav-manual" role="tabpanel" aria-labelledby="nav-manual-tab")
  h4.pt-2.pb-2.text-center Help

  section#table-of-contents
    h5 Table of Contents
    div
      a.link.level-1(href="#overview") Overview
    div
      a.link.level-1(href="#modules") Modules
    div
      a.link.level-2(href="#login") Login
    div
      a.link.level-2(href="#user") USER
    div
      a.link.level-3(href="#profile") Profile
    div
      a.link.level-3(href="#time-clock") Time Clock
    div
      a.link.level-3(href="#timesheets") Timesheets
    div
      a.link.level-3(href="#forms") Forms
    div
      a.link.level-2(href="#admin") ADMIN
    div
      a.link.level-3(href="#employee-manager") Employee Manager
    div
      a.link.level-3(href="#reports") Reports

  section#body
    #overview
      h5 Overview
      p
        | This Human Resource Information System (HRIS) is a secure web-based dashboard
        | capable of serving human resource processes while providing features such as
        | automation and a centralized data repository. Ultimately, these features aim to
        | benefit an organization by increasing onboarding processing efficiency and data
        | management accuracy. Another benefit of the HRIS is that it provides a way for
        | organizations to better understand their human resource processes through data
        | analytics.
      p
        | The following sections contain a brief decription of each module available in
        | this application and instructions on how to use them.

    #modules
      h5 Modules

    #login
      h6 Login
      p
        | Users can log into the application by entering their credentials and clicking
        | on the "Login" button.
      img.img-fluid(src="images/manual/login.png")
    #user
      h6 USER
    #profile
      h6 Profile
      p
        | The "Profile" view displays user information such as personal, contact, and
        | employment information. This view allows users to update and save their
        | contact information by completing the form and clicking on the “Save Changes”
        | button.
      img.img-fluid(src="images/manual/profile.png")
    #time-clock
      h6 Time Clock
      p
        | The “Time Clock” view allows users to issue clock-in and clock-out requests.
        | After clicking on either the “Clock In” or “Clock Out” buttons, the grid
        | below the buttons will be updated depending on which request was made. When a
        | user clocks out, the hours worked will be calculated and reflected in the Hours
        | column.
      img.img-fluid(src="images/manual/time_clock.png")
    #timesheets
      h6 Timesheets
      p
        | The “Timesheet” view allows users to view their timesheets. Clicking on a
        | timesheet row will display clock-in and clock-out details. Clicking the “Back”
        | button will bring the user back to the “Timesheets” view.
    #forms
      h6 Forms
      p
        | The “Forms” view allows users to view a list of onboarding forms that are
        | active or submitted. Clicking on a form row will open the form details view.
        | If a form is active, the user will be able to edit the form and submit it.
        | Submitted forms are not editable.
      img.img-fluid(src="images/manual/forms.png")
      img.img-fluid(src="images/manual/form.png")
    #admin
      h6 ADMIN
    #employee-manager
      h6 Employee Manager
      p
        | The “Employee Manager” view allows admin users to onboard new employees and
        | to manage profiles for existing employees. New employees can be added by
        | clicking on the “Add New Employee” button. This will display a tabbed view with the profile
        | form, account form, forms grid, and timesheets grid. For new hires, the
        | timesheets grid will be empty. Once the profile and account forms have been filled
        | out and saved, the new employee will become available in the employee grid with a
        | TEMPORARY status. Once all onboarding forms have been submitted by the new hire,
        | the employee can be transitioned to an ACTIVE status by an admin user. For
        | existing employees, the views will be the same as those listed for the new hire
        | with the addition of the timesheets grid. Within the timesheets view, admin
        | users can submit timesheet payment requests. If a payment request is approved,
        | the timesheet will be marked as PAID.
      img.img-fluid(src="images/manual/employee_manager_profile.png")
      img.img-fluid(src="images/manual/employee_manager_account.png")
      p
        | To change the status of a user, click on the blue pencil icon. A window will appear
        | with statuses that can be selected.
      img.img-fluid(src="images/manual/status_1.png")
      img.img-fluid(src="images/manual/status_2.png")
    #reports
      h6 Reports
      p
        | The “Reports” view allows admin users to run reports using the data within the
        | system. A bar chart can be created that will show the monthly amount spent on
        | wages. The date range for this report can be modified using the date
        | fields at the top of the chart view.
      img.img-fluid(src="images/manual/report.png")