.tab-pane.fade.show.active(id="nav-profile" ng-controller="profileController" role="tabpanel" aria-labelledby="nav-profile-tab")
  h4.pt-2.pb-2.text-center Profile
  form.col-md
    h5 General
    div
      .form-row
        .form-group.col-md
          label First Name
          input.form-control(ng-model="employee.firstName" type="text" readonly)
        .form-group.col-md
          label Last Name
          input.form-control(ng-model="employee.lastName" type="text" readonly)
      .form-row
        .form-group.col-md
          label Date of Birth
          input.form-control(ng-model="employee.dateOfBirth" type="date" readonly)
        .form-group.col-md
          label Gender
          select.form-control(ng-model="employee.gender" disabled)
            option(value="M") Male
            option(value="F") Female
            option(value="O") Other
      .form-row
        .form-group.col-md
          label Address
          input.form-control(ng-model="employee.employeeAddress.address" type="text")
      .form-row
        .form-group.col-md
          label City
          input.form-control(ng-model="employee.employeeAddress.city" type="text")
        .form-group.col-md
          label State
          select.form-control(name="state" ng-model="employee.employeeAddress.state")
            option(value="" selected="selected") Select a State
            option(value="AL") Alabama
            option(value="AK") Alaska
            option(value="AZ") Arizona
            option(value="AR") Arkansas
            option(value="CA") California
            option(value="CO") Colorado
            option(value="CT") Connecticut
            option(value="DE") Delaware
            option(value="DC") District Of Columbia
            option(value="FL") Florida
            option(value="GA") Georgia
            option(value="HI") Hawaii
            option(value="ID") Idaho
            option(value="IL") Illinois
            option(value="IN") Indiana
            option(value="IA") Iowa
            option(value="KS") Kansas
            option(value="KY") Kentucky
            option(value="LA") Louisiana
            option(value="ME") Maine
            option(value="MD") Maryland
            option(value="MA") Massachusetts
            option(value="MI") Michigan
            option(value="MN") Minnesota
            option(value="MS") Mississippi
            option(value="MO") Missouri
            option(value="MT") Montana
            option(value="NE") Nebraska
            option(value="NV") Nevada
            option(value="NH") New Hampshire
            option(value="NJ") New Jersey
            option(value="NM") New Mexico
            option(value="NY") New York
            option(value="NC") North Carolina
            option(value="ND") North Dakota
            option(value="OH") Ohio
            option(value="OK") Oklahoma
            option(value="OR") Oregon
            option(value="PA") Pennsylvania
            option(value="RI") Rhode Island
            option(value="SC") South Carolina
            option(value="SD") South Dakota
            option(value="TN") Tennessee
            option(value="TX") Texas
            option(value="UT") Utah
            option(value="VT") Vermont
            option(value="VA") Virginia
            option(value="WA") Washington
            option(value="WV") West Virginia
            option(value="WI") Wisconsin
            option(value="WY") Wyoming
        .form-group.col-md
          label Zipcode
          input.form-control(ng-model="employee.employeeAddress.zipcode" type="text")
      .form-row
        .form-group.col-md
          label Phone Number
          input.form-control(ng-model="employee.phoneNumber" type="text")
    div
      h5.pt-4 Employment Information
      .form-row
        .form-group.col-md
          label Title
          select.form-control(ng-model="employee.title" disabled)
            option(selected) Employee
            option Manager
            option HR User
      .form-row
        .form-group.col-md
          label Pay Rate ($/hour)
          input.form-control(ng-model="employee.payRate" type="number" readonly)
      .form-row
        .form-group.col-md
          label Manager
          select.form-control(ng-model="employee.managerId" disabled)
            option(ng-repeat="e in employees" ng-if="e.status === 'ACTIVE' && e.title === 'Manager'" value="{{e.employeeId}}") {{e.firstName}} {{e.lastName}} (\#{{e.employeeId}})

    button.btn.btn-secondary.col-md.mt-5(ng-click="onSaveBtnClick()") Save Changes