.tab-pane.fade(id="nav-reports" role="tabpanel" ng-controller="reportsController" aria-labelledby="nav-reports-tab")
  h4.pt-2.pb-2.text-center Reports
  .form-group
    label Start Date
    input.form-control(type="date", ng-model="startDate")
  .form-group.mt-2
    label End Date
    input.form-control(type="date", ng-model="endDate")
  button.btn.btn-primary.col-md.mb-3(ng-click="runReport()") Run Report
  #chartContainer