.tab-pane.fade(id="nav-timeClock" ng-controller="timeClockController" role="tabpanel" aria-labelledby="nav-timeClock-tab")
  h4.text-center.pt-2 Time Clock
  h6.text-center {{date}}
  .btn-toolbar(role="toolbar" style="justify-content: space-between;")
    button.btn.btn-success.col-md.m-2(ng-click="clockIn()") Clock In
    div
    button.btn.btn-danger.col-md.m-2(ng-click="clockOut()") Clock Out
  .table-responsive.mt-2
    table.table.table-striped
      thead
        tr
          th(hscope="col") Time In
          th(scope="col") Time Out
          th(scope="col") Hours
      tbody
        tr(ng-repeat="timesheetValue in timesheetValues")
          td(scope="row") {{formatTime(timesheetValue.timeIn)}}
          td {{formatTime(timesheetValue.timeOut)}}
          td {{formatHours(timesheetValue.hours)}}