.tab-pane.fade(id="nav-timesheets" ng-controller="timesheetsController" role="tabpanel" aria-labelledby="nav-timesheets-tab")
  div(ng-show="view === 'timesheets'")
    h4.pt-2.pb-2.text-center Timesheets
    .table-responsive
      table.table.table-hover.table-striped
        thead
          tr.font-weight-bold.border-bottom
            th(scope="col") Start
            th(scope="col") End
            th(scope="col") Hours
            th(scope="col") Status
            th(scope="col") Amount Paid
        tbody
          tr(data-timesheetId="{{timesheet.timesheetId}}" ng-repeat="timesheet in timesheets" ng-click="onTimesheetClick($event)")
            td(scope="row") {{renderDate(timesheet.startDate)}}
            td {{renderDate(timesheet.endDate)}}
            td {{renderHours(timesheet.hours)}}
            td {{timesheet.status}}
            td {{renderAmount(timesheet.amountPaid)}}

  div(ng-show="view === 'timesheetValues'")
    h4.pt-2.pb-2.text-center Timesheet Details
    .table-responsive
      table.table.table-striped
        thead
          tr
            th(scope="col") Date
            th(scope="col") In
            th(scope="col") Out
            th(scope="col") Hours
        tbody
          tr(data-timesheetValueId="{{timesheetValue.timesheetValueId}}" ng-repeat="timesheetValue in timesheetValues | orderBy:'createDatetime'")
            td(scope="row") {{renderDate(timesheetValue.timesheetDate)}}
            td {{renderTime(timesheetValue.timeIn)}}
            td {{renderTime(timesheetValue.timeOut)}}
            td {{renderHours(timesheetValue.hours)}}

    button.btn.btn-primary.col-md.fixed-bottom(ng-click="onBackBtnClick()" style="border-radius: 0;") Back